<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>הרשמה</title>
</head>
<body>
    <h1>הרשמה</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/register">
        <label>שם משתמש:</label>
        <input type="text" name="username" required><br><br>
        <label>סיסמה:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="הרשם">
    </form>
    <br>
    <a href="/login">כבר רשום? התחבר כאן</a>
</body>
</html>
