<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>סיכום דיווחים</title>
</head>
<body>
    <h1>סיכום דיווחים עבור {{ username }}</h1>
    <table border="1">
        <tr>
            <th>תאריך</th>
            <th>שעה</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/dashboard">חזרה ללוח הבקרה</a>
    <br>
    <a href="/logout">התנתק</a>
</body>
</html>
